* {
    font-family: 'Roboto', sans-serif;
    color: #545454;
}

html,
body {
    margin: 0;
    height: 100%;
}

.wrapper {

    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.wrapper.indexPage {
    justify-content: center;
}

.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainSection .searchContainer {
    margin-top: 20px;
    width: 100%;
}

.mainSection .searchContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchContainer .searchButton {
    color: #ffffff;
    background-color: #cf1313;
    border: none;
    height: 36px;
    width: 125px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
}

.mainSection .searchContainer .searchBox {
    font-weight: bold;
    border: 1px solid #9f9f9f;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    height: 44px;
    border-radius: 2px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    width: 70%;
    max-width: 630px;
    color: #000;
}

.mainSection .logoContainer {
    width: 220px;
    text-align: center;
}

.logoContainer img {
    width: 100%;
    margin-bottom: 10px;
}

.header {
    background-color: #fafafa;
    border-bottom: 1px solid #ebebeb;
}

.wrapper .headerContent {
    display: flex;
    align-items: center;
}

.headerContent .logoContainer {
    width: 150px;
    padding: 5px 20px;
    box-sizing: border-box;
}

.headerContent .searchContainer {
    flex: 1;
}

.headerContent .searchContainer form {
    margin: 15px 0 28px 0;
}

.headerContent .searchBarContainer {
    height: 44px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    width: 70%;
    max-width: 630px;
    box-sizing: border-box;
    display: flex;
}


.headerContent .searchBarContainer .searchBox {
    flex: 1;
    border: none;
    font-weight: bold;
    background-color: transparent;
    padding: 12px;
    font-size: 16px;
    color: #000;
}

.headerContent .searchBarContainer .searchButton {
    background-color: #fff;
    height: 44px;
    width: 44px;
    margin-top: 0;
    padding-right: 20px;
    display: flex;
    justify-content: center;
}

.headerContent .searchBarContainer .searchButton img {
    width: 22px;
    height: 22px;
    padding: 10px;
}


.tabsContainer {
    margin-left: 150px;
}

.tabsContainer .tabList {
    padding: 0;
    margin: 0;
}

.tabsContainer .tabList li {
    display: inline-block;
    padding: 0 16px 12px 16px;
    color: #545454;
    font-size: 13px;
}

.tabsContainer .tabList li a {
    text-decoration: none;
}

.tabsContainer .tabList li.active {
    border-bottom: 3px solid #aa1515;
}

.tabsContainer .tabList li.active a {
    font-weight: bold;
    color: #181818;
    font-weight: bold;

}

.displayNumResults {
    padding: 10px;
    background-color: #aa1515;
}

.displayNumResults span {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.resultContainer {
    padding: 5px;
    display: flex;
    flex-direction: column;

}

.resultContainer .title {
    margin: 0;
}

.resultContainer .title a {
    color: #1587aa;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.resultContainer .title a:hover {
    text-decoration: underline;
}

.resultContainer .url {
    color: #aa1515;
    font-weight: bold;
    font-size: 13px;
}

.resultContainer .description {
    color: #545454;
    font-size: 15px;
}

.paginationSection {
    padding: 10px;
}

.showPages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonPages {
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #040404;
    border-radius: 10px;
}


.currentButtonPage {
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #aa1515;
    border: none;
    color: #fff;
}


.mainResultsSection .imageResults {
    margin: 20px;
}

.mainResultsSection .resultsCount {
    padding: 15px;
    background-color: #aa1515;
    color: #fafafa;
    font-weight: bold;
}

.gridItem img {
    max-width: 200px;
    min-width: 50px;
    visibility: hidden;
}

.gridItem .details {
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    border-color: #181818;
    color: #fff;
    font-size: 11px;
    padding: 3px;
    box-sizing: border-box;
    white-space: nowrap;
}

.gridItem:hover .details {
    visibility: visible;
    background-color: #181818;
}